<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>網路攻防實習期中</title>
</head>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  #DIV1 {
    float: left;
  }

  #DIV2 {
    width: 200px;
    line-height: 50px;
    float: left;
    margin-top: 100px;
    margin-left: 90px;
  }
</style>
</head>

<body>

  <ul>
    <li><a class="active" href="./">首頁</a></li>
    <li><a href="./message_board.php">留言板</a></li>
    <li><a href="./register.php">註冊</a></li>
    <li><a href="./login.php">登入</a></li>
  </ul>

  <div>
    <div id="DIV1"> <img src="../static/image.jpg" style="max-width: 110%; margin-top: 60px; margin-left:60px" /> </div>
    <div id="DIV2">哈摟~<br>
      這是期中作業的網站，<br>
      訪客註冊後方可留言，<br>
      進入留言板聊聊大小事吧!!</div>
  </div>
  
  <div style="margin-top: 430px; margin-left:30px"><h4 style="margin-left:90px">生機所 碩二 楊謦瑄</h4></div>


  </div>
</body>


</html>